<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1>Formulario de ingreso de productos</h1> 
        <form action="/productos" method="post">
            <h3>Producto:</h3><input type="text", placeholder="Producto", name="name"/>
            <h3>Precio:</h3><input type="text", placeholder="Precio", name="price"/>
            <h3>Stock:</h3><input type="text", placeholder="Stock del producto", name="stock"/>
            <h3>Descripcion:</h3><input type="text", placeholder="Descripcion", name="description"/>
            <h3>Thumbnail:</h3><input type="text", placeholder="Ruta a imagen del producto", name="thumbnail"/> 
            <br>
            <button type="submit">Enviar</button>
        </form>
        <% products.forEach((prods) => { %> 
        <p> <%= `Producto: ${prods.name}, Precio: ${prods.price}, Stock: ${prods.stock} , ID: ${prods.id}` %> </p>
        <% }) %>  
    </main>
</body>
<footer>
    <%- include('./partials/footer') %> 
</footer>
</html>